@media (max-width: 0px) { .u-block-2c36-2 {min-height: 668px}
      .u-block-2c36-5 {margin-top: 55.4167px; margin-right: 375.334px; margin-bottom: 0px; margin-left: auto}
      .u-block-2c36-3 {width: 408.552px; height: 408.552px; margin-top: -52.6667px; margin-right: auto; margin-bottom: 0px; margin-left: 68.5627px}
      .u-block-2c36-6 {font-weight: 700; margin-top: -300.875px; margin-right: 432px; margin-bottom: 0px; margin-left: auto}
      .u-block-2c36-4 {font-size: 0.875rem; letter-spacing: 1px; font-weight: 700; margin-top: 144.875px; margin-right: 450px; margin-bottom: 60px; margin-left: auto} }
